<%if current_user.is_admin? == true %>
<%= form_for @medicine, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :code_for_placing_order, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code_for_placing_order, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ordered_qty, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :ordered_qty, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                medicines_path, :class => 'btn btn-danger' %>
  </div>
<% end %>
<%end%>