
<%- model_class = Medicine -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%if  @medicines.count == 0 %>
<h2 style="color:lightblue; margin-left:30px;">No Medicine Record </h2>
<%else%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:code_for_placing_order) %></th>
      <th><%= model_class.human_attribute_name(:ordered_qty) %></th>
        <% if user_signed_in? %>
      <%if current_user.is_admin? == false %>
      	<th><%=t 'order'%></th>
      <%else%>
         <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @medicines.each do |medicine| %>
      <tr>
        <td><%= link_to medicine.id, medicine_path(medicine) %></td>
        <td><%= medicine.name %></td>
        <td><%= medicine.code_for_placing_order %></td>
        <td><%= medicine.ordered_qty %></td>
        <td>
          <% if user_signed_in? %>
      	<%if current_user.is_admin? == false %>
      	  <%= link_to 'Order',placed_order_path(medicine), :class => 'btn btn-mini btn-primary' , :remote=> true%>

      	<%else%>        
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_medicine_path(medicine), :class => 'btn btn-mini btn-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      medicine_path(medicine),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
			<%end%>
			<%end%>                      
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<div class="placed">

</div>
  <% if user_signed_in? %>
<%if current_user.is_admin? == true %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_medicine_path,
            :class => 'btn btn-primary' %>
<% end %>
<%end%>