$('.placed').html(" <div class='message'><div class='alert alert-sucess'><b>Code for placing order: </b> <%= escape_javascript(render :text => "#{@medicine.code_for_placing_order}") %><a class='close' data-dismiss='alert'>x</a></div></div>")