<%- model_class = Medicine -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @medicine.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:code_for_placing_order) %>:</strong></dt>
  <dd><%= @medicine.code_for_placing_order %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ordered_qty) %>:</strong></dt>
  <dd><%= @medicine.ordered_qty %></dd>
</dl>
<%if current_user.is_admin? == true %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              medicines_path, :class => 'btn btn-primary'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_medicine_path(@medicine), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              medicine_path(@medicine),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<%end%>