<h2>Sign Up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :user_name %>
  <%= f.text_field :user_name, :autofocus => true %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email%></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
  
  <div><%= f.check_box :join_mailing_list, :as => :boolean %>
  <%= f.label "Sign up through Mailchimp" , :style=>"margin-left: 21px;margin-top: -17px;"%></div>
  <div><%= f.submit "Sign up" , :class => 'btn btn-medium btn-primary' %></div>
  
<%= render "devise/shared/links" %>
<% end %>

