<h2>Sign In</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

<div>  <%= f.submit "Sign in" , :class => 'btn btn-medium btn-primary' %></div>
  
<%= render "devise/shared/links" %>

<% end %>
