<p>Welcome <%= @resource.user_name %>!</p>

<p>Your registered email address is: <%= @resource.email%> </p>
<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
