<!DOCTYPE html>
<html>
<body>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <div class="navbar navbar-fixed-top">
    <div class='navbar-inner'>
      <div class='container'>
        <a class='btn btn-navbar' data-toggle='collapse' data-target='.nav-collapse'
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </a>
        <a class='brand' href='/'>Test app</a>
        <% if user_signed_in? %>
        			<div style='float:right;margin-top:9px;margin-right:18px;'>Logged in with <b><%= current_user.user_name%></b>&nbsp&nbsp&nbsp&nbsp 
          		<%= link_to "Sign Out",destroy_user_session_path, :style => "float:right;", :method => :delete %></div>
          <% else %>
          		<%= link_to "Log In",new_user_session_path, :style => "float:right;margin-top:9px;"%>
          		<%= link_to "Sign Up",new_user_registration_path, :style => "float:right;margin-top:9px;margin-right:18px;" %>          		
        <% end %>      

      </div>
      <div class='message'>
       <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? 'sucess' : 'error' %>">
        <a class='close' data-dismiss='alert'>x</a>
        <%= msg%>
       <% end %>
     </div>
  </div>
  <div class="container">
  <div class="row">
    <%= yield %>
    </div>
  </div>
  <div class="navbar navbar-fixed-bottom">
    <div class='navbar-inner'>
      <div class='container'>
        <a class='btn btn-navbar' data-toggle='collapse' data-target='.nav-collapse'
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </a>
        <div class="muted credit">© Company 2013</div>
    </div>
  </div>
</body>
</html>
